# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
env/
venv/

# Environment variables
.env

# IDE configurations
.vscode/
.idea/

# Logs and databases
*.log
*.sqlite3

carousel.html