{% extends "base.html" %}
{%load static%}

{% block title %}About Page{% endblock title %}

{% block main %}
    <div id="Intro">
        <img id="myImg" src="{%static 'images/writer_image.jpg'%}" alt="Writer's Image">
        <h4>About Me</h4>
        <p>
        I am Ayush Prajapati, an undergraduate computer engineering student studying at Pulchowk Campus. In the process of learning to code and gaining hands-on experience, I have decided to run this blogging website where I wish to update on my daily life and other stuffs.
        </p>
    </div>
{% endblock main %}