{% extends "base.html" %}
{% load static %}

{% block title %}Amad's Heroics{% endblock title %}
{% block main %}
<main>
    <div class="container">
        <div id="date">
            <h1>Hat Trick Hero Amad</h1>
        </div>
        <div id="img">
            <img src="{%static 'images/writer_image.jpg'%}" alt="Image of Blog" width="100">
            <span id="writer">By Ayush Prajapati (January 17, 2025)</span>  
        </div>
        <div id="text">
            <img src="{%static 'images/Amad.jpg'%}" alt="Amad Diallo picture with the caption 'HERO'" style="float:right; margin:4px; width:200px;">
            <p>
                WOW! What a performance from <b>Amad Diallo</b>. For someone who had been banished by Erik Ten Hag, he has done a phenomenal job of earning his spot under Ruben Amorim and shown why he deserves a starting spot. Despite playing as a wingback he did such a great job today and alsco scored a late hattrick. All the goals coming from his individual hard work and pressing.
            </p>
            <p>
                At this point last year, Ten Hag was starting Omari Forson(an academy graduate) over Amad. Also Antony was a regular under Ten Hag whilst Amad was not getting any minutes. Prior to that Amad had been on loan to Rangers and Sunderland. At Sunderland he showcased his skills and the fans absolutely adored him. Despite a great season at Sunderland, Amad was not getting any minutes under Ten Hag last season.
            </p>
            <img src="{%static 'images/Amad-MoTMvSOU.jpg'%}" alt="Amad Diallo with his MoTM award" style="float:left; margin:4px; width:360px;">
            <p>
                However it all seemed like changing when Ten Hag started giving amad some minutes at the start of the season. But it didn't last long as towards the end of August Amad started getting dropped and was demoted to the bench once more. But since Amorim took charge, Amad has been an ever present figure sometimes playing as right wing-back and sometimes as the second striker. Regardless of the position, he has always given his best and has been one of the standout players since the managerial change.
            </p>
            <p>
                Last night, against Southampton at home, there was pressure on the players to perform. The last two games, United had played well against Liverpool and Arsenal. So against the bottom placed team in the league, United were expected to win. The manager also came out and said that we would get to know the players better in this game, referencing that there were no expectations in the last two games.
            </p>  
            <p>
                However things did not go as planned as Southampton, who had not scored a goal from corner this season took the lead right after the half time, through a Manuel Ugarte own goal. Of course, United put a lot of pressure on the saints, but to no avail. The game looked to be done and dusted until Amad scored at minute 82. Now it looked like United would get a draw against the Saints. But as they say,"Cometh the hour, cometh the man". Amad scored another goal at minute 90 and then added a third to complete his hat trick at minute 90+4. Never have I seen such a player who is equally talented and hard working. I hope Amad continues his great form and plays for Manchester United for a long long time. Amad earned the PL Man of The Match award for his performance, his first of many.     
            </p>
        </div>
    </div>
</main>
{% endblock main %}