{% extends "index.html" %}
{% load static %}

{% block title %}Blog 5{% endblock title %}
{% block main %}
    <main>
        <div class="container">
            <div id="date">
                <h1>Health is Wealth</h1>
            </div>
            <div id="img">
                <img src="{%static 'images/writer_image.jpg'%}" alt="Image of Blog" width="100">
                <span id="writer">By Ayush Prajapati (January 14, 2025)</span>            
            </div>
            <div id="text">
                
                <p>
                    This maybe the 100th time or maybe the 1000th time you will hear this but I will say it one more time,<b>"HEALTH IS WEALTH"</b>. No matter who you are, or how wealthy you are, if you are not healthy, there is no point in having money. I feel this once a month when I get sick and god knows how much I wish to be healthy. It is actually a boon to have both of your nostrils open and being able to breathe finely. It is a boon if your body does not feel like a burning flame of fire. It is a boon if you don't have to keep your medicines with yourself and have them twice or thrice a day after your meal.
                </p>
                <p>
                    People often ignore their health. They feel like they don't need to be healthy as long as they are healthy until one fine Saturday evening, when you start sneezing before catching a cold, you might feel like,"oh this is just a normal sneeze. I have no need to worry for it." But then comes the part when you start sneezing continuously, until you have a running nose and you cannot breathe properly. Then you will have to wipe your nose every minute.
                    Or maybe what is on a fine Monday evening, you feel like you are a little hot. Maybe it is due to the sun, because it was so hot today. So you ignore it, you just think that nothing is going to happen until it happens. Your body starts to shiver. One minute you feel like you are a burning flame of fire and then the very next minute, you feel like you are too cold and need to be warm. wWhen you reach home and check your body temperature, the thermometer reads 102F. 
                </p>
                <p>
                    People oftern like to think that they are strong and they need not worry about health when in truth health is the most important thing in your life. As long as you are healthy, you will have peace, you can do whatever you want. But the moment you turn sick, you feel that something as trivial as breathing seems like a boon to others that you just cannot enjoy. So all I want to say is,"People, please take care of yourselves and don't take health for granted."
                </p>
            </div>
        </div>
    </main>
{% endblock main %}