{% extends "base.html" %}
{% load static %}

{% block title %} Blog 4 {% endblock title %}
{% block main %}
    <main>
        <div class="container">
            <div id="date">
                <h1>Hard Times-Dusty Rhodes</h1>
            </div>
            <div id="img">
                <img src="{%static 'images/writer_image.jpg'%}" alt="Image of Blog" width="100">
                <span id="writer">By "<i>The American Dream</i>" Dusty Rhodes</span>
                
            </div>
            <div id="text">
                <p>
                    "First of all, I would like to thank the many, many fans throughout this country that wrote cards and letters to Dusty Rhodes, The American Dream, while I was down. Secondly, I want to thank Jim Crockett Promotions for waitin' and takin' the time 'cause I know how important it was, Starrcade '85 it is to the wrestling fans, it is to Jim Crockett Promotions, and Dusty Rhodes, The American Dream.
                </p>
                <p>
                    With that wait, I got what I wanted. Ric Flair, the world's heavyweight champion. I don't have to say a lot more about the way I feel about Ric Flair; no respect, no honor! There is no honor among thieves in the first place.
                </p>
                <p>
                    He put hard times on Dusty Rhodes and his family. You don't know what hard times are, daddy. Hard times are when the textile workers around this country are out of work, and they got four or five kids, and can't pay their wages, can't buy their food. Hard times are when the auto workers are out of work, and they tell 'em to go home. And hard times are when a man has worked at a job for thirty years—thirty years!—and they give him a watch, kick him in the butt, and say, ‘Hey, a computer took your place, daddy!’ That's hard times! That's hard times.
                </p>
                <p>
                    And Ric Flair, you put hard times on this country by takin' Dusty Rhodes out, that's hard times! And we all had hard times together, and I admit I don't look like the athlete of the day supposed to look. My belly's just a little big, my hiney's just a little big, but brother, I am bad, and they know I'm bad. And there were two bad people. One was John Wayne, and he's dead, brother, and the other’s right here!
                </p>
                <p>
                    Ric Flair, the world's heavyweight title belongs to these people. I'm gonna reach out right now. I want you at home to know my hand is touchin' your hand for this gathering of the biggest body of people in this country, in this universe, all over the world. Now reach it out, ‘cause the love that was given me, and this time, I will repay you now. Because I will be the next world's heavyweight champion of this hard time blues.
                </p>
                <p>
                    Dusty Rhodes tour '85, and Ric Flair… Nature Boy… Let me leave you with this: One way to hurt Ric Flair is to take what he cherishes more than anything in the world, that's the world's heavyweight title. I'm gonna take it; I've been there twice. This time when I take it, daddy, I'm gonna take it for you. Let's gather for it. Don't let me down now, 'cause I came back for you, for that man up there that died 10, 12 years ago, and never got the opportunity to see a real world champion. And I'm proud of you, and thank God I have you, and I love you. Love ya!"
                </p>
            </div>
        </div>
    </main>
{% endblock main %}