{% extends "base.html" %}
{% load static %}
{% block title %}Blog 2{% endblock title %}
{% block main %}
    <main>
        <div class="container">
            <div id="date">
                <h1>Austin 3:16</h1>
            </div>
            <div id="img">
                <img src="{%static 'images/writer_image.jpg'%}" alt="Image of Blog" width="100">
                <span id="writer">By <i>Stone Cold</i> Steve Austin</span>
                
            </div>
            <div id="text">
                <p>
                    "The first thing I want to be done is to get that piece of crap out of my ring. Don't just get him out of the ring; get him out of the WWF, because I've proved, son, without a shadow of a doubt, you ain't got what it takes anymore.
                </p>
                <p>
                    You sit there, and you thump your Bible, and you say your prayers, and it didn't get you anywhere! Talk about your psalms, talk about John 3:16… Austin 3:16 says I just whipped your ass!
                </p>
                <p>
                    All he's gotta do is go buy him a cheap bottle of Thunderbird, and try to dig back some of that courage he had in his prime. As the King of the Ring, I'm servin' notice to every one of the WWF Superstars. I don't give a damn what they are, they're all on the list, and that's Stone Cold's list, and I'm fixin' to start runnin' through all of 'em.
                </p>
                <p>
                    As far as this championship match is concerned, son, I don't give a damn if it's Davey Boy Smith or Shawn Michaels; Steve Austin's time has come. And when I get the shot, you're lookin' at the next WWF Champion, and that's the bottom line, 'cause Stone Cold said so!"

                </p>
            </div>
        </div>
    </main>
{% endblock main %}