{% extends "base.html" %}
{% load static %}

{% block title %}Blog 3{% endblock title %}
{% block main %}
    <main>
        <div class="container">
            <div id="date">
                <h1>The PipeBomb</h1>
            </div>
            <div id="img">
                <img src="{%static 'images/writer_image.jpg'%}" alt="Image of Blog" width="100">
                <span id="writer">By CM Punk</span>        
            </div>
            <div id="text">
                
                <p>
                    "John Cena, while you lay there, hopefully as uncomfortable as you possibly can be, I want you to listen to me. I want you to digest this because before I leave in three weeks with your WWE Championship, I have a lot of things I want to get off my chest.
                </p>
                </p>
                <p>
                    I don't hate you, John. I don't even dislike you. I do like you. I like you a hell of a lot more than I like most people in the back. I hate this idea that you're the best. Because you're not. I'm the best. I'm the best in the world.
                </p>
                <p>
                    There's one thing you're better at than I am, and that's kissing Vince McMahon's ass. You're as good as kissing Vince's ass as Hulk Hogan was. I don't know if you're as good as Dwayne, though. He's a pretty good ass kisser. Always was and still is. Oops—I'm breaking the fourth wall! [Waves at camera] Hi, Colt Cabana.
                </p>
                <p>
                    I'm the best wrestler in the world. I've been the best ever since Day One when I walked into this company, and I've been vilified and hated since that day because Paul Heyman saw something in me that nobody else wanted to admit. That's right—I'm a Paul Heyman guy. You know who else was a Paul Heyman guy? Brock Lesnar. And he split, just like I'm splitting. But the biggest difference between me and Brock is I'm going to leave with the WWE Championship.
                </p>
                <p>
                    I've grabbed so many of Vince McMahon's brass rings that it's finally dawned on me that they're just that—they're completely imaginary. The only thing that's real is me, and the fact that day in and day out, for almost six years, I have proved to everybody in the world that I am the best on this microphone, in that ring, even on commentary! Nobody can touch me!
                </p>
                <p>
                    And yet, no matter how many times I prove it, I'm not on your lovely little collector cups, I'm not on the cover of the program, I'm barely promoted, I don't get to be in movies, I'm certainly not on any crappy show on the USA Network. I'm not on the poster of WrestleMania, I'm not on the signature that's produced at the start of the show. I'm not on Conan O'Brien, I'm not on Jimmy Fallon, but the fact of the matter is I should be.
                </p>
                <p>
                    This isn't sour grapes. But the fact that Dwayne is in the main event of WrestleMania next year and I'm not makes me sick! Oh hey, let me get something straight—those of you who are cheering me right now, you are just as big a part of me leaving as anything else. Because you're the ones that are sipping out of those collector cups right now. You're the ones that buy those programs that my face isn't on the cover of, and then at five in the morning at the airport, you try to shove it in my face so you can get an autograph and try to sell it on eBay because you're too lazy to get a real job.
                </p>
                <p>
                    I'm leaving with the WWE Championship on July 17th. And hell, who knows, maybe I'll go defend it in New Japan Pro Wrestling. Maybe…I'll go back to Ring of Honor.
                </p>
                <p>
                    [Looks at camera] Hey, Colt Cabana, how you doing?
                    
                    The reason I'm leaving is you people. Because after I'm gone, you're still going to pour money into this company. I'm just a spoke on the wheel. The wheel is going to keep turning. And I understand that. Vince McMahon's going to make money despite himself. He's a millionaire who should be a billionaire. You know why he's not a billionaire? Because he surrounds himself with glad-handing, nonsensical, douchebag yes-men like John Laurinaitis, who's going to tell him everything he wants to hear.
                    
                    [Microphone cuts off briefly] I've been silenced long enough!"
                </p>
            </div>
        </div>
    </main>
{% endblock main %}