{% extends "base.html" %}
{% load static %}

{% block title %} A Sacred Offering: The Legacy of Bhaktapur's Kumari {% endblock title %}
{% block main %}
<main>
    <div class="container">
        <div id="date">
            <h1> A Sacred Offering: The Legacy of Bhaktapur's Kumari </h1>
        </div>
        <div id="img">
            <img src="{%static 'images/writer_image.jpg'%}" alt="Image of Blog" width="100">
            <span id="writer">By Ayush Prajapati (January 17, 2025)</span>  
        </div>
        <div id="text">
            
            <p>
                The Kumari of Bhaktapur is an important part of Nepal's ancient and glorious cultural tradition. The Kumari is regarded as the living embodiment of the Hindu goddess Taleju (a form of Goddess Durga). Locally, the Bhaktapur Kumari is known as the "Ekant Kumari" and is worshipped as the guardian deity of Bhaktapur city.
            </p>
            <p>
                Established in Nepal Sambat (NS) 611, Nepal's first Kumari, Shree Khwopa Mool Kumari Maju( श्री ख्वप: मुल कुमारी माजु ), was adorned with a mask crafted by senior sculptor Mr. Ravi Shakya, along with jewelry, ornaments, and attire offered by the Ranjitkar Society of Bhaktapur. This historic moment serves as a reminder of the proud legacy of the Bhaktapur Kumari tradition.
            </p>
            <p>
                "I had the opportunity to witness the Kumari adorned in a golden outfit, with a sacred third eye on her forehead, and hands embellished with jewelry and ornaments. Her serene and divine expression allowed me to capture this unforgettable moment through my camera." wrote Ameet Ranjit in his facebook page 'Ameet Ranjit Photography'.
                More about the offering: <a href="https://www.youtube.com/watch?v=Fumd2y2Dhp0", style='text-decoration: underline'> Here </a>
            </p>
        </div>
        
        <div id="img-group">
            <img src="{%static 'images/kumari-1.jpg'%}" alt="The Offerings to Kumari of Bhaktapur" width="100">
            <img src="{%static 'images/kumari-2.jpg'%}" alt="The Offerings to Kumari of Bhaktapur" width="100">
            <img src="{%static 'images/kumari-3.jpg'%}" alt="The Offerings to Kumari of Bhaktapur" width="100">
            <img src="{%static 'images/kumari-4.jpg'%}" alt="The Offerings to Kumari of Bhaktapur" width="100">
            <img src="{%static 'images/kumari-5.jpg'%}" alt="The Offerings to Kumari of Bhaktapur" width="100">
            <img src="{%static 'images/kumari-6.jpg'%}" alt="The Offerings to Kumari of Bhaktapur" width="100">
        </div>
        <p>Photo Courtesy:  <a href="https://www.facebook.com/share/p/1DeCUPzvz4/" style='text-decoration: underline'>Ameet Ranjit Photography</a></p>
    </div>
</main>
{% endblock main %}