{% extends "base.html" %}
{%load static%}

{% block title %}Blogging and Coding{% endblock title %}

{% block main %}
    <div class="block">
        <div class="row-block">
            <div class="box">
                <img src="{%static 'images/cmpunkface.png'%}" alt="January 9, 2025" width="20px">
                <p>
                    {{content1|truncatechars:300}}
                    <br>
                    <a href="{%url 'blog-1'%}">
                        <button type="button">Click Here</button> 
                    </a>
                </p>
            </div>
            <div class="box">
                <img src="{%static 'images/cmpunkface.png'%}" alt="Austin 3:16" width="20px">
                <p>
                    {{content2|truncatechars:300}}
                    <br>
                    <a href="{%url 'blog-2'%}">
                        <button type="button">Click Here</button>
                    </a>
                </p>
            </div>
        </div>
        <div class="row-block">
            <div class="box">
                <img src="{%static 'images/cmpunkface.png'%}" alt="CM Punk Pipebomb" width="20px">
                <p>
                    {{content3|truncatechars:300}}
                    <br>
                    <a href="{%url 'blog-3'%}">
                        <button type="button">Click Here</button>
                    </a>
                </p>
            </div>
            <div class="box">
                <img src="{%static 'images/cmpunkface.png'%}" alt="Hard Times Dusty Rhodes" width="20px">
                <p>
                    {{content4|truncatechars:300}}
                    <br>
                    <a href="{%url 'blog-4'%}">
                        <button type="button">Click Here</button>
                    </a>
                </p>
            </div>
        </div>
        <div class="row-block">
            <div class="box">
                <img src="{%static 'images/cmpunkface.png'%}" alt="CM Punk Pipebomb" width="20px">
                <p>
                    {{content5|truncatechars:300}}
                    <br>
                    <a href="{%url 'blog-5'%}">
                        <button type="button">Click Here</button>
                    </a>
                </p>
            </div>
            <div class="box">
                <img src="{%static 'images/cmpunkface.png'%}" alt="Hard Times Dusty Rhodes" width="20px">
                <p>
                    {{content6|truncatechars:300}}
                    <br>
                    <a href="{%url 'blog-6'%}">
                        <button type="button">Click Here</button>
                    </a>
                </p>
            </div>
        </div>
    </div>
{% endblock main %}